* {
    margin: 0;
    padding: 0;
}

/* banner style */
.banner {
    background-image: url('../images/banner/banner3.png');
    width: 1600px;
    height: 808px;
    align-items: center;
    padding-left: 700px;
}

.banner-title {
    color: aliceblue;
    text-align: right;
    padding: 264px;
    width: 525px;
    height: 228px;
    padding-bottom: 24px;
}

.btn-primary {
    height: 64px;
    width: 160px;
    margin-top: 32px;
    background-color: olivedrab;
}

/* content style */
.content {
    display: flex;
    align-items: center;
}

.content-text {
    padding: 200px 150px;
}
content content-list{
    display: block;
}
.content-title{
    padding-bottom: 20px;
}
/* plans style */
.plans{
    display: flex;
    justify-content: space-between;
    margin: 100px 300px;
    align-items: center;
}
