* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('../images/banner/banner3.png');
    width: 1600px;
    height: 750px;
}

.content {
    position: absolute;
    top: 50%;
    left: 60%;

}

.content-title {
    color: wheat;
    
}

.content-text {
    color: white;
    display: block;
    padding: 20px 20px;
}

.call-now {
    margin-left: 60%;
    display: block;
    background-color: white;
    padding: 20px 30px;
    margin-top: 5%;
}
.person-image{
    margin-left: 10%;
    margin-top: 10%;
}
.my-failure{
    display: flex;
    align-items: center;
}
.person-text{
    margin-top: 10%;
    margin-left: 15%;
}